<section class="contact_us" id="contact-us">
  <div class="contact_div">
    <div class="center_contact_div">
      <h1>CONTACT US</h1>
      <div class="contact_buttons">
        <a
          href="https://mail.google.com/mail/u/0/#inbox?compose=new"
          target="_blank"
          ><button>Email Us</button></a
        >
        <button>Call Us</button>
      </div>
      <div class="footer">
        <p>Copyright Gym Company. All rights reserved. E&OE.</p>

        <p>
          Web App by:
          <a
            style="text-decoration: none; color: rgb(194, 135, 25)"
            href="https://jerrellabrahams.tech"
            target="_blank"
            >Jerrell Abrahams</a
          >
        </p>
      </div>
      <div class="links_container">
        <p class="links">
          <a href="#gyms">Gyms</a> | <a href="#memberships">Memberships</a> |
          <a href="/join">Join</a> |
          <a href="/group_fitness">Group Fitness</a> | <a href="/spa">Spa</a> |
          <a href="#contact-us">Contact Us</a>
        </p>
      </div>
    </div>
  </div>
</section>
