<script defer src="/javascript/index.js"></script>

<div class="gallery">
  <img
    loading="lazy"
    src="/views/gym_company.png"
    height="200px"
    width="200px"
  />
  <img
    loading="lazy"
    src="/views/our_gym_background.jpg"
    height="200px"
    width="200px"
  />
  <img loading="lazy" src="/views/gym4free.png" height="200px" width="200px" />
  <img loading="lazy" src="/views/gym_image.jpg" height="200px" width="200px" />
</div>
