<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="css/styles.css" type="text/css" />
    <script
      type="module"
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"
    ></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Mukta:wght@700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />

    <title><%= title %></title>
    <link rel="icon" type="image/x-icon" href="../images/barbell.png" />
    <script defer src="../../javascript/index.js"></script>
  </head>

  <section class="">
    <nav>
      <div class="navbar">
        <a href="/"><img class="logo" src="../images/gym_inverted.jpg" /></a>
        <div class="links">
          <a href="/#gyms">GYMS</a>
          <a href="/#memberships">MEMBERSHIPS</a>
          <a href="#contact-us">CONTACT US</a>
          <a href="/group_fitness">GROUP FITNESS</a>
          <a href="/spa">SPA</a>
        </div>
        <div class="burger_button">
          <ion-icon class="burger_button_icon" name="menu-outline"></ion-icon>
        </div>
      </div>
    </nav>
    <div class="hamburger invisible">
      <div class="burger_links">
        <a href="#gyms">GYMS</a>
        <a href="#memberships">MEMBERSHIPS</a>
        <a href="   #contact-us">CONTACT US</a>
        <a href="/group_fitness">GROUP FITNESS</a>

        <a>SPA</a>
      </div>
    </div>
  </section>
</html>
