<%- include("partials/header", {title: "Group Fitness"}) %>

<body style="background-color: azure;">

    <section class="group_header">
        <h1 class="group_title">GROUP <br>FITNESS</h1>
    </section>
    <section class="group_fitness_details">
        <div class="inner_container">
            <h2>CARDIO AND DANCE CLASSES</h2>

            <h3>BODYSTEP</h3>
            <p>Expect a mixture of upbeat, rhythmic stepping, with squat and lunge patterns to work the legs. Combine this with movements like burpees, push ups and weighted plate exercises, and the result is a fun, uplifting, full-body workout!</p>
        
            <h3>JAIVA</h3>
            <p>Jaiva is designed by South Africans for South Africans. We have taken fitness, enhanced it with dance, mixed in some unique South African styles and spiced it up with local South African muisc. Learn to dance and get a complete body workout while moving to your favourite top local dance releases. Come and get your fix at any one of our Gym Company gyms. Combine this with movements like burpees, push ups and weighted plate exercises, and the result is a fun, uplifting, full-body workout!</p>
        
            <h3>ZUMBA</h3>
            <p>Party yourself into shape! Zumba is an exhilarating, effective, easy to follow, Latin inspired, calorie burning workout. Zumba classes feature exotic rhythms and high energy international beats.</p>
        
            <h3>BOUNCE FITNESS</h3>
            <p>Extraordinary, easy to follow, all fitness levels, fun, non-impact, cardiovascular workout that uses mini trampolines and resistance accessories.
            </p>

            <h3>STEP</h3>
            <p>Step into action with a choreographed exercise class on a step platform. This is a great way to have fun, lose weight and improve your cardiovascular fitness.</p>
        
            <h3>STEP & BOX</h3>
            <p>This class combines basic, yet intense, combinations on the step, and finishes the workout with specific box coaching. This will challenge your speed, agility and cardiovascular fitness.</p>
        
        </div>
    </section>

    <%- include("partials/footer.ejs") %>
</body>





</html>