* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: auto;
}

html,
body {
  overflow-x: hidden;
}
.logo {
  width: 80%;
  height: 80%;
}
.hamburger {
  position: fixed;
  height: fit-content;
  width: 100%;
  background-color: black;
  z-index: 9;
  border-radius: 0;
  box-shadow: 4px 4px 10px black;
}

.burger_links {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.burger_links a {
  border: 1px black solid;
  font-family: "Arial";
  padding: 1rem;
  width: 100%;
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: white;
  border-bottom: 1px rgb(24, 23, 23) solid;
}

.burger_button {
  display: none;
  margin: 0 1em;
}
.burger_button_icon {
  color: white;
  align-items: center;
}

.navbar .links a {
  text-decoration: none;
  color: white;
}
.navbar .links a {
  margin: 0 1em;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1em;
}
.navbar .links a:hover {
  color: #b86c53fc;
}
.main_page {
  overflow: hidden;
  width: 100%;
  height: 100dvh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("/images/gym_image.jpg");
  background-size: cover;
  background-position: center;
}

@media screen and (width < 515px) {
  .main_page {
    height: 100%;
  }
}

.join_page {
  overflow: hidden;
  width: 100%;
  height: 100%;
  background-color: rgb(203, 147, 240);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  padding-bottom: 10px;
  color: white;
}

.main_page .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.394);
  padding-bottom: 10px;
  color: white;
}

.container {
  display: flex;
  background-color: azure;
  justify-content: center;
  align-items: center;
  border: 0.5px black solid;
  box-shadow: 3px 3px 30px gray;
  border-radius: 10px;
  margin: 0 auto;
  overflow: hidden;
  transform: scale(0.8);
  max-width: 60%;
}

.right_box {
  background-color: azure;
  min-width: 60%;
  margin: 0 auto;
}

.center_container {
  display: flex;
  justify-content: center;
  margin: 25px auto;
  width: 100%;
}

.center_container button {
  width: 50%;
}

.join_header {
  font-family: "Dancing Script", cursive;
  font-size: 6em;
  color: #aa47bdfc;
}

.inline_form {
  font-size: 16px;
  padding: 10px;
  margin: 20px 80px;
  display: flex;
  flex-direction: column;
}

.form {
  width: 100%;
  height: 100%;
}

.inline_form > * {
  margin: 30px 0;
}

form label {
  font-size: 1.5rem;
  color: black;
  font-family: "Mukta", sans-serif;
  position: relative;
  left: 0px;
}

form input,
select {
  color: black;
  font-size: 1.2em;
  display: flex;
  border: none;
  outline: none;
  border-bottom: 1px #15213ffc solid;
  background: transparent;
  width: 100%;
}

form select:not(focus) {
  color: gray;
}
:hover form select:focus {
  color: black;
}

form button {
  border: 1px black solid;
  color: azure;
  font-family: "Mukta", sans-serif;
  font-size: 1.5em;
  border-radius: 4px;
  background-color: #aa47bdfc;
  padding: 15px 2rem;
  width: 30%;
  margin: 0.5em 0;
  justify-content: center;
  align-items: center;
}

form button:hover {
  box-shadow: 5px 5px 5px #d15ee8fc;
  border-color: #aa47bdfc;
  color: azure;
}

.heading_container {
  padding: 5px;
  position: relative;
  top: 45%;
  left: 5%;
  overflow: hidden;
  width: 90%;
}
.heading {
  font-size: 4em;
  font-family: "Assistant", sans-serif;
  color: white;
  overflow: hidden;
}

.sub_heading {
  font-size: 1.8em;
  font-weight: 300;
  padding-left: 0.5em;
  font-family: "Montserrat", sans-serif;
  color: white;
  text-align: left;
  overflow: hidden;
}

.joinBtn,
.assistBtn {
  padding: 0.6em 2.1em;
  font-size: 1.2rem;
  color: white;
  margin: 1em;
  background-color: transparent;
  border: 1.5px solid white;
  border-radius: 0px;
  overflow: hidden;
  transition: 0.5s;
}
.buttons {
  width: 90%;
}

.joinBtn:hover {
  font-size: 1.2rem;
  color: white;
  background-color: #aa47bdfc;
  border: 1.5px solid #aa47bdfc;
  border-radius: 10px;
  transition: 0.5s;
  overflow: hidden;
  cursor: pointer;
  transform: translate(1px, 3px);
}
.assistBtn:hover {
  font-size: 1.2rem;
  color: black;
  background-color: white;
  border: 1.5px solid white;
  border-radius: 10px;
  transition: 0.5s;
  overflow: hidden;
  cursor: pointer;
  transform: translate(1px, 3px);
}

.banner {
  width: 100%;
  height: 350px;
  object-fit: contain;
  background-color: black;
}

.banner_container {
  background-color: black;
}

.rewards_heading {
  background-color: rgb(15, 15, 15);
  text-align: center;
  font-size: 50px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(15, 15, 15);
}

.card_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: rgb(0, 0, 0);
  padding-bottom: 100px;
  width: 100%;
  margin: auto;
}

.card {
  text-align: center;
  border-width: 3px;
  border-style: solid;
  border-image: linear-gradient(0deg, #ec0d8d, #fcee23, #149ed9) 1;
  border-radius: 10px;
  height: 100%;
  padding: 40px;
  margin: 10px;
  transition: all 0.5s ease-in-out;
}

.card:hover {
  transform: scale(1.02);
  border-image: linear-gradient(360deg, #19a030, #c43636, #a642e4) 1;
  transition: all 0.5s ease-in-out;
}

.card h1 {
  font-size: 20px;
  margin: 0 auto;
  color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.card p {
  color: white;
  margin: 0 auto;
  font-size: 13px;
  padding: 10px;
  width: 150px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.card ion-icon {
  color: rgb(15, 87, 220);
  font-size: 45px;
}

.content_container ion_icon {
  font-size: 30px;
}

.pricing_title {
  color: white;
  text-align: center;
  font-size: 60px;
  font-family: "Ubuntu";
  font-weight: 600;
  margin: 40px auto;
  width: 100%;
}

.pricing {
  background-color: rgba(15, 15, 15);
  color: white;
  width: 100%;
  overflow: hidden;
}

.pricing_container {
  display: inline-flex;
  justify-content: space-evenly;
  width: 100%;
  transform: scale(0.9);
}

.pricing_card {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin: 10px;
  border: 1px solid white;
  border-radius: 4px;
  text-align: left;
  padding: 30px;
  font-size: 15px;
}

.pricing_card:hover {
  box-shadow: 5px 5px 5px 100px rgb(207, 207, 207);
}

.white_card {
  background-color: ghostwhite;
  color: black;
}

.platinum_card {
  background-color: #d8d8d8;
  color: black;
}
.pricing_card:hover {
  box-shadow: 1px 1px 10px gray;
}

.price {
  font-size: 60px;
  position: relative;
  left: 30px;
}

.pricing_button {
  margin: 20px auto;
  width: 100%;
  padding: 10px 110px;
  border-radius: 5px;
  border: 1px white solid;
  font-size: 20px;
  background-color: rgb(15, 15, 15);
  color: white;
  text-transform: uppercase;
}

.white_button:hover {
  border: 1px black solid;
  cursor: pointer;
}
.platinum_button:hover {
  border: 1px black solid;
  cursor: pointer;
}

.pricing_button:hover {
  background-color: white;
  color: black;
  cursor: pointer;
}
.our_gyms {
  background-color: rgb(15, 15, 15);
  padding-bottom: 50px;
  width: 100%;
}

.our_gyms_head {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("/images/our_gym_background.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.our_gyms_head h1 {
  position: relative;
  font-size: 10rem;
  color: white;
  text-align: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.our_gyms_subheading {
  font-size: 1.8rem;
  color: white;
  font-family: "Montserrat";
  text-align: center;
}

.loci {
  overflow: hidden;
  max-width: 960px;
  margin: auto;
}

.loci h1 {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 2.3rem;
  text-align: left;
  color: white;
  margin: 40px 1rem;
  padding: 0.2em;
}
.map_link {
  text-decoration: none;
  color: black;
}
.loci p {
  font-family: "Ubuntu";
  text-align: left;
  font-size: 1rem;
  margin: 1rem;
  margin-bottom: 20px;
  padding: 0.2em;
  color: white;
  width: 90%;
  line-height: 1.7rem;
}

.locations_container {
  display: flex;
}

.row {
  flex: 50%;
}

.column {
  display: flex;
  justify-content: left;
  background-color: ghostwhite;
  float: left;
  width: 25rem;
  height: 30px;
  margin: 20px;
  padding: 1.2em;
  color: black;
  border-radius: 1px;
  font-family: Verdana;
  font-weight: 600;
  font-size: 1rem;
  font-family: "Montserrat";
  align-items: center;
}

@media screen and (width < 880px) {
  .row {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .column {
    width: 90%;
    display: flex;
    justify-content: center;
    font-size: 0.9em;
  }
}

.column:hover {
  background-color: rgb(133, 122, 122);
  color: black;
  cursor: pointer;
  transform: translate(0.5px, 1px);
}

.contact_us {
  background-color: rgb(255, 255, 255);
  margin-top: 50px;
}

.contact_div {
  height: 100%;
  width: 100%;
  padding: 0 1em;
  margin: auto;
  display: flex;
  justify-content: center;
}

.contact_div h1 {
  color: black;
  font-family: "Mukta", sans-serif;
  font-size: 4rem;
  margin: 0 1rem;
  font-weight: 900;
  display: flex;

  justify-content: center;
}
.contact_buttons {
  width: 100%;
  display: inline-flex;
  justify-content: center;
  margin: 1rem 0;
}
.contact_div button {
  font-size: 1rem;
  box-sizing: border-box;
  background-color: #179dd7;
  padding: 15px 4rem;
  margin: 1rem;
  border-radius: 15px;
  border: none;
  transition: 0.4s;
}

.contact_div button:hover {
  background-color: #00aaff;
  color: black;
  box-shadow: 0.2em 0.2em 5px black;
  border-radius: 15px;
  transition: 0.4s;
  cursor: pointer;
}
.footer {
  width: 100%;
  height: fit-content;
  margin: 0 1rem;
  display: flex;
  justify-content: space-evenly;
}

.footer p {
  font-size: 1rem;
  font-family: "Arial";
  margin: 0.5rem 0;
  justify-content: center;
}

.links_container {
  display: flex;
  width: 100%;
  height: fit-content;
  margin: 1rem 0;
  justify-content: center;
}

.links a {
  font-size: 1rem;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-decoration: none;
  margin: 0.6em;
  color: black;
}

.links a:hover {
  color: #179dd7;
}

.hidden {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 0s;
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
  transition: all 1s;
}

.delay {
  transition-delay: 100ms;
}

.card:nth-child(1) {
  transition-delay: 100ms;
}
.card:nth-child(2) {
  transition-delay: 150ms;
}
.card:nth-child(3) {
  transition-delay: 200ms;
}
.card:nth-child(4) {
  transition-delay: 250ms;
}

.slideOut {
  filter: blur(15px);
  opacity: 0;
  transform: translateY(50%);
}

.slideIn {
  filter: blur(0px);
  opacity: 1;
  transform: translateY(0);
}

@media screen and (max-width: 1150px) {
  .pricing_container {
    display: flex;
    flex-wrap: wrap;
    flex-shrink: inherit;
  }
}

@media screen and (max-width: 850px) {
  div .links_container {
    display: none;
  }
}

@media screen and (width < 895px) {
  .links {
    display: none;
  }
  .burger_button {
    display: block;
  }
}

@media screen and (width < 400px) {
  .our_gyms_head h1 {
    font-size: 6rem;
  }
  .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 0;
  }
  .footer p {
    text-align: center;
    margin-inline: 40px;
  }
  .group_title {
    font-size: 60px;
  }
}

.entire_page {
  background-color: azure;
}
.group_header {
  background-image: url("/images/group_fitness_3.jpg");
  background-size: cover;
  background-position: 70% 80%;
  width: 100%;
  height: 100dvh;
}

.spa_header {
  background-image: url("/images/spa_image.jpg");
  background-size: cover;
  background-position: 70% 80%;
  width: 100%;
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inner_container h3 {
  font-size: 2rem;
  font-family: "Mukta";
  font-weight: 500;
  color: rgb(79, 33, 11);
}

.spa_title {
  font-size: 10rem;
  color: white;
}

.spa_inner_container h3 {
  font-size: 2rem;
  margin-top: 2%;
  font-family: "Mukta";
  font-weight: 500;
  color: rgb(0, 123, 142);
}

.spa_inner_container h5 {
  font-size: 1.4rem;
  font-family: "Mukta";
  font-weight: 500;
  color: rgb(2, 48, 77);
}

.inner_container p {
  font-size: 0.8em;
  font-weight: none;
  font-family: "Mukta";
  max-width: 70%;
}

.spa_inner_container p {
  font-size: 0.8em;
  font-weight: none;
  font-family: "Mukta";
  max-width: 80%;
}

.inner_container h2 {
  font-size: 3rem;
  font-family: "Mukta";
  font-weight: bold;
  color: rgb(79, 33, 11);
}

.spa_inner_container h2 {
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 2rem;
  font-family: "Mukta";
  font-weight: bold;
  color: rgb(7, 35, 39);
  text-align: center;
}

.inner_container {
  margin: 2em 5em;
}

.spa_inner_container {
  margin: 2em 5em;
}

.group_title {
  width: 100%;
  font-size: 10em;
  font-family: "Mukta";
  font-weight: 800;
  color: azure;
  margin: 0 5%;
}

.group_fitness_details {
  background-color: azure;
  padding-bottom: 5%;
}

.spa_details {
  background-color: white;
  padding-bottom: 5%;
}

.modal {
  width: 80%;
  height: 95%;
  margin: auto;
  background-color: white;
  border-radius: 5px;
  border: none;
  box-shadow: 5px 5px 10px gray;
}

iframe {
  width: 100%;
  height: 50vh;
}

.email {
  outline: none;
}

.email:hover {
  text-decoration: none;
  cursor: pointer;
}

.modal::backdrop {
  backdrop-filter: blur(1px);
  backdrop-filter: brightness(0.5);
}

.modal:focus {
  outline: none;
}

.modal_close_button {
  color: red;
  border: 0.5px solid red;
  border-radius: 2px;
  margin: 10px 2rem;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 30px;
}

.modal_close_button:hover {
  background-color: red;
  color: white;
  transition: 0.2s;
  cursor: pointer;
}

.content {
  display: flex;
  color: gray;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
  margin: 0 2rem;
  font-family: Arial;
}

.facilities {
  margin-top: 1em;
}

.modal_title {
  color: black;
}

.content > * {
  margin: 1em 0;
}

.content table {
  min-width: 50%;
  font-weight: none;
  color: gray;
}

.opening_time {
  color: rgba(0, 128, 0, 0.692);
}

.closing_time {
  color: rgba(255, 0, 0, 0.688);
}

.content .icons_container {
  display: flex;
  justify-content: space-evenly;
  height: 100%;
  width: auto;
}

.content .icons p {
  color: black;
  font-family: Helvetica, sans-serif;
}

.content .icons {
  width: 100%;
  margin: 0 auto;
  color: black;
}

.center_icons .icons:hover {
  color: rgb(69, 124, 226);
  transition: 0.2s;
}

.center_icons:hover {
  color: rgb(69, 124, 226);
}

.content .location {
  margin: 0.5em 0;
}

.gallery_container {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.gallery_images {
  margin: 3px;
  width: 200px;
  height: 200px;
  image-rendering: auto;
}

.invisible {
  display: none;
}
